In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/df.csv")

In [3]:
df.head

<bound method NDFrame.head of                       Country con_code  Score           GDP  social  \
0                     Finland      FIN  7.632  50030.877310   1.592
1                      Norway      NOR  7.594  81734.465570   1.582
2                     Denmark      DNK  7.555  61598.536700   1.590
3                     Iceland      ISL  7.495  72968.704230   1.644
4                 Switzerland      CHE  7.487  82818.108160   1.549
..                        ...      ...    ...           ...     ...
126                   Liberia      LBR  3.495    677.322179   0.858
127                    Rwanda      RWA  3.408    783.287184   0.896
128                  Tanzania      TZA  3.303   1060.994615   0.991
129  Central African Republic      CAF  3.083    475.953610   0.000
130                   Burundi      BDI  2.905    271.752044   0.627

     life_expectancy  freedom  Generosity  corruption  alcohol_consumption  \
0              0.874    0.681       0.202       0.393                10.78
1              0.861    0.686       0.286       0.340                 7.41
2              0.868    0.683       0.284       0.408                10.26
3              0.914    0.677       0.353       0.138                 9.12
4              0.927    0.660       0.256       0.357                11.53
..               ...      ...         ...         ...                  ...
126            0.267    0.419       0.206       0.030                 6.12
127            0.400    0.636       0.200       0.444                 8.95
128            0.381    0.481       0.270       0.097                11.27
129            0.010    0.305       0.218       0.038                 2.38
130            0.145    0.065       0.149       0.076                 7.19

     beer_servings  spirit_servings  wine_servings
0              263              133             97
1              169               71            129
2              224               81            278
3              233               61             78
4              185              100            280
..             ...              ...            ...
126             19              152              2
127             43                2              0
128             36                6              1
129             17                2              1
130             88                0              0

[131 rows x 13 columns]>

In [4]:

df.loc[df['Score'] <= 5.41, 'equal_or_greater_than_5.41?'] = 'False' 
df.loc[df['Score'] > 5.41, 'equal_or_greater_than_5.41?'] = 'True'

In [5]:
df.to_csv('CorrectTFS.csv')

In [8]:
df['GDP']

0      50030.877310
1      81734.465570
2      61598.536700
3      72968.704230
4      82818.108160
           ...
126      677.322179
127      783.287184
128     1060.994615
129      475.953610
130      271.752044
Name: GDP, Length: 131, dtype: float64